
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.submit %>
      <% end %>
  </div>
 </div>
</div>
